*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
*.apk
*.ap_
*.class
*.dex
bin/
gen/
local.properties
Thumbs.db
.DS_Store
obj/

# Eclipse project files
.classpath
.project



